@charset "UTF-8";

@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('https://webfontworld.github.io/score/SCoreDream.css');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    min-width: 1320px;
}

a {
    color: #1c1c1c;
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 50px;
    margin-bottom: 25px;
}
body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #555;
    border-radius: 3px;
    background-clip: padding-box;
}
body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: #1c1c1c;
    /* box-shadow: inset 0px 0px 5px #666; */
}

/* 탑버튼 */
#scroll-to-top {
    display: block;
    position: fixed;
    bottom: 50px;
    right: calc(((100% - 1320px) / 2) - 90px);
    opacity: 0;
    z-index: 10;
    transform: translateY(30%);
    transition: all 0.5s ease-in-out;
    border-radius: 100px;
    overflow: hidden;
}
#scroll-to-top img{
    transition: all 0.15s;
}
#scroll-to-top img:hover {
    /* opacity: 0.8; */
    filter: invert(1);
}

/* 탑 */
.top {
    background: #000;
    /* height: 32px; */
}

.top>ul {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: right;
}

.top li {
    padding: 6px 0;
}

.top a {
    color: #fff;
    margin-right: 20px;
}
.top span{
    position: relative;
}
.top b {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform: scalex(0);
    transition: all 1s;
    transform-origin: left;
}

.top a:hover b{
    transform: scalex(1);
}

/* 네비 */
nav {
    background: #fff;
}

nav div {
    width: 1320px;
    height: 100px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px;
}

.main li {
    width: 100%;
    position: relative;
}

.main>li>a {
    font-family: 'SCoreDream';
    display: block;
    font-weight: 600;
    color: #232E66;
    font-size: 24px;
    margin: 33px 25px;
    text-transform: capitalize;
    transition: all 0.3s
}

.main>li:hover>a {
    opacity: 0.5;
}

.sub a {
    display: block;
    text-align: center;
    font-size: 20px;
    color: #232E66;
    background-color: #fff;
    padding: 15px 0;
    transition: all 0.1s;
}

.sub a:hover {
    color: #fff;
    background-color: #232E66;
}

.sub {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 100;
}

/* 메인배너 */
.main_b {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    display: block;
}

/* 섹션1 베스트 아이템 */
.bestitem{
    width: 1320px;
    margin: auto;
    padding: 160px 0 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.bestitem h1{
    width: 100%;
}
.bestitem h2{
    font-size: 24px;
}
.bestitem img{
    display: block;
    transition: all 0.2s;
}
.bestitem_img{
    overflow: hidden;
    border-radius: 5px;
}
.bestitem_box h2{
    font-size: 24px;
    margin: 20px 0 5px 0;
}
.bestitem h3{
    font-size: 16px;
    font-weight: 500;
}
.store_border{
    border: 1px solid #666;
    border-radius: 5px;
}
.bestitem_box:hover .bestitem_img img{
    transform: scale(1.05);
}

/* 섹션2 시즌 */
.season{
    width: 100%;
    overflow: hidden;
}
.season_width{
    width: 1320px;
    margin: auto;
    padding: 80px 0;
}
.mySwiper{
    width: 1620px;
}
.season h1{
    margin-bottom: 8px;
}
.season h2{
    font-size: 18px;
    font-weight: 300;
    color: #666;
    margin-bottom: 20px;
}
.season_slide{
    width: 380px !important;
    height: 490px;
    text-align: center;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 5px;
}
.season h3{
    font-size: 20px;
    margin: 20px 0 8px 0;
}
.season h4{
    height: 48px;
    font-size: 16px;
    font-weight: 500;
}
.season img{
    display: block;
    transition: all 0.2s;
}
.season_img{
    height: 380px;
    overflow: hidden;
    border-radius: 5px;
}
.season span{
    color: #82368C;
}
.season_slide:hover img{
    transform: scale(1.05);
}

/* 멤버십 배너 */
.membership_b{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 80px 0 70px;
    display: block;
}

/* 상품 홍보 배너 */
.item_b{
    width: 1320px;
    margin: auto;
    padding: 70px 0 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

/* 섹션3 뉴 아이템 */
#newitem{
    padding-bottom: 0;
}
.newitem{
    padding: 70px 0 80px;
}

/* 푸터 */
footer {
    background: #000;
    color: #fff;
}

footer>div {
    width: 1320px;
    margin: 140px auto 0;
}

footer>div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 0;
}

.footer_txt {
    width: 660px;
}

.footer_txt img {
    margin-bottom: 20px;
}

.footer_txt p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
}

footer ul {
    margin-top: 20px;
    width: 250px;
}

footer li {
    margin-bottom: 25px;
}

footer a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

footer a:hover {
    opacity: 0.8;
}

@media (max-width: 1520px){
    #scroll-to-top{
        right: 30px; 
    }   
}